#page-title {
  font-size: 30px !important;
}
/* Increase the left sidebar width */
.mintlify .Sidebar_root__ {
  width: 350px !important;
  min-width: 350px !important;
}

/* Adjust main content so it aligns properly */
.mintlify .Content_root__ {
  margin-left: 350px !important;
}
