{
  "openapi": "3.0.3",
  "info": {
    "title": "SalesCaptain API Documentation Service",
    "description": "API Documentation Service for SalesCaptain platform.\nThis service provides endpoints for managing and retrieving company information for API documentation purposes.\n",
    "version": "0.1.0",
    "contact": {
      "name": "SalesCaptain API Team",
      "email": "support@salescaptain.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://salescaptain.com/license"
    }
  },
  "servers": [
    {
      "url": "https://api.salescaptain.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1": {
      "get": {
        "summary": "Health check endpoint",
        "description": "Returns basic service information and health status",
        "operationId": "healthCheck",
        "tags": ["Health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is running successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "SalesCaptain API [Service version - 0.1]"
                    }
                  }
                },
                "example": {
                  "message": "SalesCaptain API [Service version - 0.1]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fetch-companies": {
      "get": {
        "summary": "Fetch companies for authenticated user",
        "description": "Retrieves a list of companies associated with the authenticated user's accounts.\nThis endpoint fetches company information from the main SalesCaptain API based on \nthe company IDs associated with the user's accounts.\n",
        "operationId": "fetchCompanies",
        "tags": ["Companies"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Companies fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Companies fetched successfully!"
                    },
                    "companies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Company"
                      }
                    }
                  }
                },
                "example": {
                  "message": "Companies fetched successfully!",
                  "companies": [
                    {
                      "company_id": "00000000-0000-0000-0000-000000000000",
                      "name": "salescaptain"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/fetch-company/{company_id}": {
      "get": {
        "summary": "Fetch company by ID",
        "description": "Retrieves detailed information about a specific company by its unique identifier.\n",
        "operationId": "fetchCompanyById",
        "tags": ["Companies"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the company",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Company fetched successfully!"
                    },
                    "company": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                },
                "example": {
                  "message": "Company fetched successfully!",
                  "company": {
                    "company_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "name": "Acme Corporation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Missing required parameters",
                  "message": "Required parameters missing: company_id"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Company not found",
                  "message": "Company not found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/fetch-all-accounts": {
      "get": {
        "summary": "Fetch all accounts for authenticated user",
        "description": "Retrieves a list of all accounts associated with the authenticated user.\nReturns account details including access level, contact information, and last login time.\n",
        "operationId": "fetchAllAccounts",
        "tags": ["Accounts"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Accounts fetched successfully!"
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountDetail"
                      }
                    }
                  }
                },
                "example": {
                  "message": "Accounts fetched successfully!",
                  "accounts": [
                    {
                      "account_id": "acc-1234-5678-90ab-cdef12345678",
                      "access_level": "Administrator",
                      "last_login": "2026-03-12T10:30:00.000Z",
                      "email": "john.doe@example.com",
                      "mobile": "+1234567890",
                      "first_name": "John",
                      "last_name": "Doe"
                    },
                    {
                      "account_id": "acc-abcd-efgh-ijkl-mnop12345678",
                      "access_level": "User",
                      "last_login": "2026-03-10T14:45:00.000Z",
                      "email": "jane.smith@example.com",
                      "mobile": "+0987654321",
                      "first_name": "Jane",
                      "last_name": "Smith"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/fetch-account/{account_id}": {
      "get": {
        "summary": "Fetch account by ID",
        "description": "Retrieves detailed information about a specific account by its unique identifier.\nReturns account details including access level, contact information, and last login time.\n",
        "operationId": "fetchAccountById",
        "tags": ["Accounts"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the account",
            "schema": {
              "type": "string",
              "example": "acc-1234-5678-90ab-cdef12345678"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Account fetched successfully!"
                    },
                    "account": {
                      "$ref": "#/components/schemas/AccountDetail"
                    }
                  }
                },
                "example": {
                  "message": "Account fetched successfully!",
                  "account": {
                    "account_id": "acc-1234-5678-90ab-cdef12345678",
                    "access_level": "Administrator",
                    "last_login": "2026-03-12T10:30:00.000Z",
                    "email": "john.doe@example.com",
                    "mobile": "+1234567890",
                    "first_name": "John",
                    "last_name": "Doe"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Missing required parameters",
                  "message": "Required parameters missing: account_id"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Account not found",
                  "message": "Account not found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/list-conversation-profiles/{company_id}": {
      "get": {
        "summary": "List conversation profiles for a company",
        "description": "Retrieves all conversation profiles associated with a specific company.\nConversation profiles represent communication channels like phone lines, email addresses, etc.\n",
        "operationId": "listConversationProfiles",
        "tags": ["Conversation Profiles"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the company",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation profiles fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Conversation profiles fetched successfully!"
                    },
                    "account": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversationProfile"
                      }
                    }
                  }
                },
                "example": {
                  "message": "Conversation profiles fetched successfully!",
                  "account": [
                    {
                      "conversation_profile_id": "cp-1111-2222-3333-444455556666",
                      "name": "Main Line",
                      "number": "+14155551234",
                      "email": "support@acme.com",
                      "color": "#4A90D9"
                    },
                    {
                      "conversation_profile_id": "cp-7777-8888-9999-aaaabbbbcccc",
                      "name": "Sales Line",
                      "number": "+14155555678",
                      "email": "sales@acme.com",
                      "color": "#50C878"
                    },
                    {
                      "conversation_profile_id": "cp-dddd-eeee-ffff-000011112222",
                      "name": "Email Channel",
                      "number": null,
                      "email": "info@acme.com",
                      "color": "#FF6B6B"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Missing required parameters",
                  "message": "Required parameters missing: company_id"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/list-conversation-profile/{conversation_profile_id}": {
      "get": {
        "summary": "Get a specific conversation profile",
        "description": "Retrieves detailed information about a specific conversation profile by its unique identifier.\n",
        "operationId": "listConversationProfile",
        "tags": ["Conversation Profiles"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_profile_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the conversation profile",
            "schema": {
              "type": "string",
              "example": "cp-1111-2222-3333-444455556666"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation profile fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Conversation profile fetched successfully!"
                    },
                    "account": {
                      "$ref": "#/components/schemas/ConversationProfile"
                    }
                  }
                },
                "example": {
                  "message": "Conversation profile fetched successfully!",
                  "account": {
                    "conversation_profile_id": "cp-1111-2222-3333-444455556666",
                    "name": "Main Line",
                    "number": "+14155551234",
                    "email": "support@acme.com",
                    "color": "#4A90D9"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Missing required parameters",
                  "message": "Required parameters missing: conversation_profile_id"
                }
              }
            }
          },
          "404": {
            "description": "Conversation profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "No conversation profile found!",
                  "message": "No conversation profile found!"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/list-conversations/{company_id}": {
      "get": {
        "summary": "List conversations for a company (paginated)",
        "description": "Retrieves a paginated list of conversations associated with a specific company.\nSupports filtering, sorting, and pagination options.\n",
        "operationId": "listConversations",
        "tags": ["Conversations"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the company",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "required": true,
            "description": "Page number for pagination (must be a positive integer)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page (10-100, default 10)",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": ["last_update"],
              "example": "last_update"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "description": "Sort direction (default desc)",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc",
              "example": "desc"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter conversations by field",
            "schema": {
              "type": "string",
              "enum": ["conversation_profile_id", "number", "email", "chat_status"],
              "example": "chat_status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversations fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Conversations fetched successfully!"
                    },
                    "conversations": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Conversation"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Conversations fetched successfully!",
                  "conversations": {
                    "data": [
                      {
                        "contact_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "contact_name": "John Doe",
                        "contact_number": "+1234567890",
                        "contact_email": "john.doe@example.com",
                        "conversation_id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "conversation_profile_id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
                        "conversation_profile_number": "+1987654321",
                        "conversation_profile_email": "support@company.com",
                        "last_message": "Hey, I need help with my order",
                        "assigned_to": "d4e5f6a7-b8c9-0123-def1-234567890123",
                        "updated_at": "2026-03-17T10:30:00.000Z",
                        "created_at": "2026-03-15T08:00:00.000Z",
                        "seen_by": "e5f6a7b8-c9d0-1234-ef12-345678901234",
                        "is_chat_opened": true
                      },
                      {
                        "contact_id": "f6a7b8c9-d0e1-2345-f123-456789012345",
                        "contact_name": "Jane Smith",
                        "contact_number": "+1122334455",
                        "contact_email": "jane.smith@example.com",
                        "conversation_id": "a7b8c9d0-e1f2-3456-1234-567890123456",
                        "conversation_profile_id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
                        "conversation_profile_number": "+1987654321",
                        "conversation_profile_email": "support@company.com",
                        "last_message": "Thanks for the update!",
                        "assigned_to": null,
                        "updated_at": "2026-03-16T14:20:00.000Z",
                        "created_at": "2026-03-10T12:00:00.000Z",
                        "seen_by": null,
                        "is_chat_opened": false
                      }
                    ],
                    "pagination": {
                      "page_number": 1,
                      "items_per_page": 10,
                      "total_count": 25,
                      "total_pages": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_page_number": {
                    "summary": "Missing page number",
                    "value": {
                      "error": "Invalid page_number",
                      "message": "Please provide a valid page_number (must be a positive integer)"
                    }
                  },
                  "invalid_sort_by": {
                    "summary": "Invalid sort_by value",
                    "value": {
                      "error": "Invalid sort_by value",
                      "message": "sort_by must be one of: last_update"
                    }
                  },
                  "invalid_filter": {
                    "summary": "Invalid filter value",
                    "value": {
                      "error": "Invalid filter value",
                      "message": "filter must be one of: conversation_profile_id, number, email, chat_status"
                    }
                  },
                  "missing_company_id": {
                    "summary": "Missing company_id",
                    "value": {
                      "is_error": true,
                      "error": "Problem encountered while listing conversations!",
                      "message": "company_id is required!"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "is_error": true,
                  "error": "Problem encountered while fetching conversation!",
                  "message": "Company not found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/fetch-conversation/{conversation_id}": {
      "get": {
        "summary": "Fetch a single conversation by ID",
        "description": "Retrieves detailed information about a specific conversation by its unique identifier.\n",
        "operationId": "fetchConversation",
        "tags": ["Conversations"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the conversation",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Conversation fetched successfully!"
                    },
                    "conversation": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Conversation"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Conversation fetched successfully!",
                  "conversation": {
                    "data": {
                      "contact_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "contact_name": "John Doe",
                      "contact_number": "+1234567890",
                      "contact_email": "john.doe@example.com",
                      "conversation_id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                      "conversation_profile_id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
                      "conversation_profile_number": "+1987654321",
                      "conversation_profile_email": "support@company.com",
                      "last_message": "Hey, I need help with my order",
                      "assigned_to": "d4e5f6a7-b8c9-0123-def1-234567890123",
                      "updated_at": "2026-03-17T10:30:00.000Z",
                      "created_at": "2026-03-15T08:00:00.000Z",
                      "seen_by": "e5f6a7b8-c9d0-1234-ef12-345678901234",
                      "is_chat_opened": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "is_error": true,
                  "error": "Problem encountered while fetching conversation!",
                  "message": "conversation_id is required!"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "is_error": true,
                  "error": "Problem encountered while fetching conversation!",
                  "message": "Conversation not found!"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/fetch-messages/{company_id}/{conversation_id}": {
      "get": {
        "summary": "Fetch messages for a conversation (paginated)",
        "description": "Retrieves a paginated list of messages for a specific conversation within a company.\nSupports sorting by created_at and pagination options.\n",
        "operationId": "fetchMessages",
        "tags": ["Conversations"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the company",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            }
          },
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the conversation",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "required": true,
            "description": "Page number for pagination (must be a positive integer)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page (10-100, default 10)",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": ["created_at"],
              "example": "created_at"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "description": "Sort direction (default desc)",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc",
              "example": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages fetched successfully or error response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Messages fetched successfully!"
                        },
                        "messages": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Message"
                              }
                            },
                            "pagination": {
                              "$ref": "#/components/schemas/Pagination"
                            }
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/FailureResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "message": "Messages fetched successfully!",
                      "messages": {
                        "data": [
                          {
                            "conversation_id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                            "message_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                            "contact_id": "f6a7b8c9-d0e1-2345-f123-456789012345",
                            "conversation_profile_id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
                            "conversation_profile_email": "support@company.com",
                            "conversation_profile_number": "+1987654321",
                            "type_of_message": "sms_message",
                            "direction": "inbound",
                            "assigned_account_id": "d4e5f6a7-b8c9-0123-def1-234567890123",
                            "created_at": "2026-03-15T08:00:00.000Z"
                          }
                        ],
                        "pagination": {
                          "page_number": 1,
                          "items_per_page": 10,
                          "total_count": 25,
                          "total_pages": 3
                        }
                      }
                    }
                  },
                  "missing_params": {
                    "summary": "Missing company_id or conversation_id",
                    "value": {
                      "status": "failure",
                      "error": "{\"is_error\":true,\"error\":\"company_id and conversation_id must be provided!\",\"message\":\"company_id and conversation_id must be provided!\"}",
                      "message": "{\"is_error\":true,\"error\":\"company_id and conversation_id must be provided!\",\"message\":\"company_id and conversation_id must be provided!\"}"
                    }
                  },
                  "missing_pagination": {
                    "summary": "Missing page or items_per_page",
                    "value": {
                      "status": "failure",
                      "error": "{\"is_error\":true,\"error\":\"page and items_per_page are required\",\"message\":\"page and items_per_page are required\"}",
                      "message": "{\"is_error\":true,\"error\":\"page and items_per_page are required\",\"message\":\"page and items_per_page are required\"}"
                    }
                  },
                  "conversation_not_found": {
                    "summary": "Conversation not found",
                    "value": {
                      "status": "failure",
                      "error": "{\"is_error\":true,\"error\":\"Conversation not found\",\"message\":\"Conversation not found\"}",
                      "message": "{\"is_error\":true,\"error\":\"Conversation not found\",\"message\":\"Conversation not found\"}"
                    }
                  },
                  "company_not_found": {
                    "summary": "Company not found",
                    "value": {
                      "status": "failure",
                      "error": "Problem encountered while fetching messages!",
                      "message": "Company not found"
                    }
                  },
                  "unexpected_error": {
                    "summary": "Unexpected error (network, DB, etc.)",
                    "value": {
                      "status": "failure",
                      "error": "Problem encountered while fetching messages!",
                      "message": "connect ECONNREFUSED"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/fetch-message/{message_id}": {
      "get": {
        "summary": "Fetch a single message by ID",
        "description": "Retrieves detailed information about a specific message by its unique identifier.\n",
        "operationId": "fetchMessage",
        "tags": ["Conversations"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the message",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message fetched successfully or error response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Message fetched successfully!"
                        },
                        "data": {
                          "$ref": "#/components/schemas/Message"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/FailureResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "message": "Message fetched successfully!",
                      "data": {
                        "conversation_id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "message_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "contact_id": "f6a7b8c9-d0e1-2345-f123-456789012345",
                        "conversation_profile_id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
                        "conversation_profile_email": "support@company.com",
                        "conversation_profile_number": "+1987654321",
                        "type_of_message": "sms_message",
                        "direction": "inbound",
                        "assigned_account_id": "d4e5f6a7-b8c9-0123-def1-234567890123",
                        "created_at": "2026-03-15T08:00:00.000Z"
                      }
                    }
                  },
                  "missing_message_id": {
                    "summary": "Missing message_id",
                    "value": {
                      "status": "failure",
                      "error": "{\"is_error\":true,\"error\":\"message_id must be provided!\",\"message\":\"message_id must be provided!\"}",
                      "message": "{\"is_error\":true,\"error\":\"message_id must be provided!\",\"message\":\"message_id must be provided!\"}"
                    }
                  },
                  "message_not_found": {
                    "summary": "Message not found",
                    "value": {
                      "status": "failure",
                      "error": "{\"is_error\":true,\"error\":\"Message not found\",\"message\":\"Message not found\"}",
                      "message": "{\"is_error\":true,\"error\":\"Message not found\",\"message\":\"Message not found\"}"
                    }
                  },
                  "conversation_not_found": {
                    "summary": "Conversation not found",
                    "value": {
                      "status": "failure",
                      "error": "{\"is_error\":true,\"error\":\"Conversation not found\",\"message\":\"Conversation not found\"}",
                      "message": "{\"is_error\":true,\"error\":\"Conversation not found\",\"message\":\"Conversation not found\"}"
                    }
                  },
                  "company_api_error": {
                    "summary": "Company API error",
                    "value": {
                      "status": "failure",
                      "error": "Problem encountered while fetching message!",
                      "message": "Company not found"
                    }
                  },
                  "unexpected_error": {
                    "summary": "Unexpected error",
                    "value": {
                      "status": "failure",
                      "error": "Problem encountered while fetching message!",
                      "message": "connect ECONNREFUSED"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/list-contacts/{company_id}": {
      "get": {
        "summary": "List contacts for a company (paginated)",
        "description": "Retrieves a paginated list of contacts associated with a specific company.\nSupports filtering, sorting, and pagination options.\n",
        "operationId": "listContacts",
        "tags": ["Contacts"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the company",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "required": true,
            "description": "Page number for pagination (must be a positive integer)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page (10-100, default 10)",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": ["name", "number", "email", "created_at"],
              "example": "created_at"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "description": "Sort direction (default desc)",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc",
              "example": "desc"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter contacts by channel type",
            "schema": {
              "type": "string",
              "enum": ["phone", "email", "facebook", "instagram", "whatsapp"],
              "example": "phone"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contacts fetched successfully!"
                    },
                    "contacts": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Contact"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Contacts fetched successfully!",
                  "contacts": {
                    "data": [
                      {
                        "contact_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                        "name": "John Doe",
                        "phone": "+14155551234",
                        "email": "john.doe@example.com",
                        "created_at": "2024-01-15T10:30:00.000Z",
                        "updated_at": "2024-02-20T14:45:00.000Z",
                        "tags": ["VIP", "New Lead", "Follow Up"],
                        "custom_fields": [
                          { "cf_name": "Industry", "cf_value": "Technology" },
                          { "cf_name": "Budget", "cf_value": "50000" },
                          { "cf_name": "Source", "cf_value": "Website" }
                        ]
                      },
                      {
                        "contact_id": "c9d8e7f6-5a4b-3c2d-1e0f-9a8b7c6d5e4f",
                        "name": "Jane Smith",
                        "phone": "+14155559876",
                        "email": "jane.smith@company.com",
                        "created_at": "2024-01-20T08:15:00.000Z",
                        "updated_at": "2024-03-01T09:30:00.000Z",
                        "tags": ["Customer", "Premium"],
                        "custom_fields": [
                          { "cf_name": "Industry", "cf_value": "Healthcare" },
                          { "cf_name": "Company Size", "cf_value": "100-500" }
                        ]
                      },
                      {
                        "contact_id": "b8c7d6e5-4f3a-2b1c-0d9e-8f7a6b5c4d3e",
                        "name": "Mike Johnson",
                        "phone": "+14155554567",
                        "email": null,
                        "created_at": "2024-02-05T16:00:00.000Z",
                        "updated_at": null,
                        "tags": [],
                        "custom_fields": []
                      }
                    ],
                    "pagination": {
                      "page_number": 1,
                      "items_per_page": 10,
                      "total_count": 156,
                      "total_pages": 16
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_page_number": {
                    "summary": "Missing page number",
                    "value": {
                      "error": "Invalid page_number",
                      "message": "Please provide a valid page_number (must be a positive integer)"
                    }
                  },
                  "invalid_sort_by": {
                    "summary": "Invalid sort_by value",
                    "value": {
                      "error": "Invalid sort_by value",
                      "message": "sort_by must be one of: name, number, email, created_at"
                    }
                  },
                  "invalid_filter": {
                    "summary": "Invalid filter value",
                    "value": {
                      "error": "Invalid filter value",
                      "message": "filter must be one of: phone, email, facebook, instagram, whatsapp"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/fetch-contact/{contact_id}": {
      "get": {
        "summary": "Fetch a single contact by ID",
        "description": "Retrieves detailed information about a specific contact by its unique identifier.\n",
        "operationId": "fetchContact",
        "tags": ["Contacts"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the contact",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact fetched successfully!"
                    },
                    "contacts": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Contact"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Contact fetched successfully!",
                  "contacts": {
                    "data": {
                      "contact_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                      "name": "John Doe",
                      "phone": "+14155551234",
                      "email": "john.doe@example.com",
                      "created_at": "2024-01-15T10:30:00.000Z",
                      "updated_at": "2024-02-20T14:45:00.000Z",
                      "tags": ["VIP", "New Lead", "Follow Up"],
                      "custom_fields": [
                        { "cf_name": "Industry", "cf_value": "Technology" },
                        { "cf_name": "Budget", "cf_value": "50000" },
                        { "cf_name": "Source", "cf_value": "Website" }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Missing required parameters",
                  "message": "Required parameters missing: contact_id"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Contact not found!",
                  "message": "Contact not found!"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/create-contact": {
      "post": {
        "summary": "Create a new contact",
        "description": "Creates a new contact for a specific company.\nAt least one of contact_phone or contact_email must be provided.\nUser must have 'contacts' access role to create contacts.\n",
        "operationId": "createContact",
        "tags": ["Contacts"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identifier for the company",
                    "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "Full name of the contact",
                    "example": "John Doe"
                  },
                  "contact_phone": {
                    "type": "string",
                    "description": "Phone number of the contact (required if no email provided)",
                    "example": "+14155551234"
                  },
                  "contact_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the contact (required if no phone provided)",
                    "example": "john.doe@example.com"
                  },
                  "custom_fields": {
                    "type": "array",
                    "description": "Optional list of custom fields to set for the contact",
                    "items": {
                      "$ref": "#/components/schemas/CustomFieldInput"
                    }
                  }
                },
                "required": ["company_id", "contact_name"]
              },
              "examples": {
                "with_both": {
                  "summary": "Contact with both phone and email",
                  "value": {
                    "company_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "contact_name": "John Doe",
                    "contact_phone": "+14155551234",
                    "contact_email": "john.doe@example.com"
                  }
                },
                "with_phone_only": {
                  "summary": "Contact with phone only",
                  "value": {
                    "company_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "contact_name": "Jane Smith",
                    "contact_phone": "+14155559876"
                  }
                },
                "with_email_only": {
                  "summary": "Contact with email only",
                  "value": {
                    "company_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "contact_name": "Mike Johnson",
                    "contact_email": "mike.johnson@example.com"
                  }
                },
                "with_custom_fields": {
                  "summary": "Contact with custom fields",
                  "value": {
                    "company_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "contact_name": "John Doe",
                    "contact_phone": "+14155551234",
                    "contact_email": "john.doe@example.com",
                    "custom_fields": [
                      { "cf_id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a", "cf_value": "Technology" },
                      { "cf_id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b", "cf_value": "50000" }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact created successfully!"
                    },
                    "contact": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ContactCreated"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Contact created successfully!",
                  "contact": {
                    "data": {
                      "contact_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                      "name": "John Doe",
                      "phone": "+14155551234",
                      "email": "john.doe@example.com",
                      "conversation_id": "c8b7a6d5-e4f3-2c1b-0a9e-8d7c6b5a4f3e",
                      "created_at": "2024-03-13T10:30:00.000Z",
                      "updated_at": "2024-03-13T10:30:00.000Z",
                      "custom_fields": [
                        { "cf_name": "Industry", "cf_value": "Technology" },
                        { "cf_name": "Budget", "cf_value": "50000" }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_company_id": {
                    "summary": "Missing company_id",
                    "value": {
                      "error": "company_id is required!",
                      "message": "company_id is required!"
                    }
                  },
                  "missing_contact_info": {
                    "summary": "Missing phone and email",
                    "value": {
                      "error": "Either phone or email must be provided!",
                      "message": "Either phone or email must be provided!"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden or permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "You don't have permission to create contact!",
                  "message": "You don't have permission to create contact!"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Contact already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Contact with this phone already exists!",
                  "message": "Contact with this phone already exists!"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/update-contact/{contact_id}": {
      "put": {
        "summary": "Update an existing contact",
        "description": "Updates an existing contact's information.\nAt least one of name, phone, email, or custom_fields must be provided.\nUser must have 'contacts' access role to update contacts.\n",
        "operationId": "updateContact",
        "tags": ["Contacts"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the contact to update",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identifier for the company (required)",
                    "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  },
                  "name": {
                    "type": "string",
                    "description": "Updated name of the contact",
                    "example": "John Smith"
                  },
                  "phone": {
                    "type": "string",
                    "nullable": true,
                    "description": "Updated phone number (set to empty string to remove)",
                    "example": "+14155559999"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "nullable": true,
                    "description": "Updated email address (set to empty string to remove)",
                    "example": "john.smith@newcompany.com"
                  },
                  "custom_fields": {
                    "type": "array",
                    "description": "Custom fields to update",
                    "items": {
                      "$ref": "#/components/schemas/CustomFieldInput"
                    }
                  }
                },
                "required": ["company_id"]
              },
              "examples": {
                "update_name_only": {
                  "summary": "Update contact name only",
                  "value": {
                    "company_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "name": "John Smith"
                  }
                },
                "update_contact_info": {
                  "summary": "Update phone and email",
                  "value": {
                    "company_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "phone": "+14155559999",
                    "email": "john.smith@newcompany.com"
                  }
                },
                "update_custom_fields": {
                  "summary": "Update custom fields",
                  "value": {
                    "company_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "custom_fields": [
                      { "cf_id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a", "cf_value": "Healthcare" },
                      { "cf_id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b", "cf_value": "75000" }
                    ]
                  }
                },
                "update_all": {
                  "summary": "Update all fields",
                  "value": {
                    "company_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "name": "John Smith",
                    "phone": "+14155559999",
                    "email": "john.smith@newcompany.com",
                    "custom_fields": [
                      { "cf_id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a", "cf_value": "Healthcare" },
                      { "cf_id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b", "cf_value": "75000" }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact updated successfully!"
                    },
                    "contact": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Contact"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Contact updated successfully!",
                  "contact": {
                    "data": {
                      "contact_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                      "name": "John Smith",
                      "phone": "+14155559999",
                      "email": "john.smith@newcompany.com",
                      "created_at": "2024-01-15T10:30:00.000Z",
                      "updated_at": "2024-03-13T14:45:00.000Z",
                      "custom_fields": [
                        { "cf_name": "Industry", "cf_value": "Healthcare" },
                        { "cf_name": "Budget", "cf_value": "75000" }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_company_id": {
                    "summary": "Missing company_id",
                    "value": {
                      "error": "company_id is required",
                      "message": "company_id is required"
                    }
                  },
                  "missing_update_fields": {
                    "summary": "No update fields provided",
                    "value": {
                      "error": "Missing update fields",
                      "message": "At least one of name, phone, email, or custom_fields must be provided"
                    }
                  },
                  "invalid_phone": {
                    "summary": "Invalid phone format",
                    "value": {
                      "error": "Invalid phone",
                      "message": "phone must be a valid phone number (e.g., +14155551234)"
                    }
                  },
                  "invalid_email": {
                    "summary": "Invalid email format",
                    "value": {
                      "error": "Invalid email",
                      "message": "email must be a valid email address"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden or permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "You don't have permission to update contact!",
                  "message": "You don't have permission to update contact!"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Contact not found!",
                  "message": "Contact not found!"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Duplicate contact info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "duplicate_phone": {
                    "summary": "Phone already exists",
                    "value": {
                      "error": "Contact with this phone already exists!",
                      "message": "Contact with this phone already exists!"
                    }
                  },
                  "duplicate_email": {
                    "summary": "Email already exists",
                    "value": {
                      "error": "Contact with this email already exists!",
                      "message": "Contact with this email already exists!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/delete-contact/{company_id}/{contact_id}": {
      "delete": {
        "summary": "Delete a contact",
        "description": "Permanently deletes a contact from the system.\nUser must have 'contacts' access role to delete contacts.\n",
        "operationId": "deleteContact",
        "tags": ["Contacts"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the company",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            }
          },
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the contact to delete",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact deleted successfully!"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "contact_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "ID of the deleted contact",
                          "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                        },
                        "message": {
                          "type": "string",
                          "example": "Contact deleted successfully"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Contact deleted successfully!",
                  "data": {
                    "contact_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                    "message": "Contact deleted successfully"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "contact_id is required!",
                  "message": "contact_id is required!"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden or permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "You don't have permission to delete contact!",
                  "message": "You don't have permission to delete contact!"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Contact not found!",
                  "message": "Contact not found!"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/list-custom-fields/{company_id}": {
      "get": {
        "summary": "List all custom fields for a company",
        "description": "Retrieves all custom field definitions associated with a specific company.\nCustom fields allow companies to store additional contact information.\n",
        "operationId": "listCustomFields",
        "tags": ["Custom Fields"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the company",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom fields fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Custom fields fetched successfully!"
                    },
                    "custom_fields": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CustomFieldDefinition"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Custom fields fetched successfully!",
                  "custom_fields": {
                    "data": [
                      {
                        "cf_id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
                        "cf_name": "industry",
                        "cf_label": "Industry",
                        "cf_datatype": "text",
                        "cf_description": "Customer's industry sector",
                        "created_at": "2024-01-10T09:00:00.000Z",
                        "updated_at": "2024-01-15T11:30:00.000Z"
                      },
                      {
                        "cf_id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
                        "cf_name": "budget",
                        "cf_label": "Budget",
                        "cf_datatype": "number",
                        "cf_description": "Customer's budget range",
                        "created_at": "2024-01-12T14:00:00.000Z",
                        "updated_at": null
                      },
                      {
                        "cf_id": "f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c",
                        "cf_name": "company_size",
                        "cf_label": "Company Size",
                        "cf_datatype": "dropdown",
                        "cf_description": "Number of employees",
                        "created_at": "2024-01-20T10:15:00.000Z",
                        "updated_at": "2024-02-01T08:45:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Missing required parameters",
                  "message": "Required parameters missing: company_id"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/list-custom-field/{custom_field_id}": {
      "get": {
        "summary": "Get a single custom field by ID",
        "description": "Retrieves detailed information about a specific custom field definition by its unique identifier.\n",
        "operationId": "listCustomField",
        "tags": ["Custom Fields"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the custom field",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Custom field fetched successfully!"
                    },
                    "custom_field": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CustomFieldDefinition"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Custom field fetched successfully!",
                  "custom_field": {
                    "data": {
                      "cf_id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
                      "cf_name": "industry",
                      "cf_label": "Industry",
                      "cf_datatype": "text",
                      "cf_description": "Customer's industry sector",
                      "created_at": "2024-01-10T09:00:00.000Z",
                      "updated_at": "2024-01-15T11:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Missing required parameters",
                  "message": "Required parameters missing: custom_field_id"
                }
              }
            }
          },
          "404": {
            "description": "Custom field not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Custom field not found!",
                  "message": "Custom field not found!"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Authentication token required for accessing protected endpoints.\nThe token should be obtained from the main SalesCaptain authentication service.\n"
      }
    },
    "schemas": {
      "Company": {
        "type": "object",
        "description": "Company information object",
        "properties": {
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the company",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "name": {
            "type": "string",
            "description": "Company name",
            "example": "salescaptain"
          }
        },
        "required": ["company_id", "name"]
      },
      "Address": {
        "type": "object",
        "description": "Address information",
        "properties": {
          "street": {
            "type": "string",
            "description": "Street address",
            "example": "123 Main Street"
          },
          "city": {
            "type": "string",
            "description": "City name",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "State or province",
            "example": "NY"
          },
          "postal_code": {
            "type": "string",
            "description": "Postal or ZIP code",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Country name",
            "example": "United States"
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Error response object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid request parameters"
          },
          "code": {
            "type": "string",
            "description": "Error code for programmatic handling",
            "example": "INVALID_PARAMS"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the error occurred",
            "example": "2023-12-01T10:30:00Z"
          },
          "path": {
            "type": "string",
            "description": "API endpoint path where the error occurred",
            "example": "/v1/fetch-companies"
          }
        },
        "required": ["error"]
      },
      "User": {
        "type": "object",
        "description": "Authenticated user information",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique user identifier",
            "example": "987fcdeb-51a2-43d1-9f12-345678901234"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address",
            "example": "user@example.com"
          },
          "accounts": {
            "type": "array",
            "description": "List of accounts associated with the user",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          }
        },
        "required": ["id", "email", "accounts"]
      },
      "Account": {
        "type": "object",
        "description": "User account information",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique account identifier",
            "example": "456e7890-f12b-34c5-d678-901234567890"
          },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Associated company identifier",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "role": {
            "type": "string",
            "description": "User role within the account",
            "example": "admin"
          },
          "permissions": {
            "type": "array",
            "description": "List of permissions for this account",
            "items": {
              "type": "string"
            },
            "example": ["read", "write", "admin"]
          }
        },
        "required": ["id", "company_id"]
      },
      "AccountDetail": {
        "type": "object",
        "description": "Detailed account information",
        "properties": {
          "account_id": {
            "type": "string",
            "description": "Unique account identifier",
            "example": "acc-1234-5678-90ab-cdef12345678"
          },
          "access_level": {
            "type": "string",
            "description": "User's access level within the account",
            "example": "Administrator"
          },
          "last_login": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the user's last login",
            "example": "2026-03-12T10:30:00.000Z"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "john.doe@example.com"
          },
          "mobile": {
            "type": "string",
            "description": "User's mobile phone number",
            "example": "+1234567890"
          },
          "first_name": {
            "type": "string",
            "description": "User's first name",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "description": "User's last name",
            "example": "Doe"
          }
        },
        "required": ["account_id", "access_level", "email", "first_name", "last_name"]
      },
      "ConversationProfile": {
        "type": "object",
        "description": "Conversation profile representing a communication channel",
        "properties": {
          "conversation_profile_id": {
            "type": "string",
            "description": "Unique identifier for the conversation profile",
            "example": "cp-1111-2222-3333-444455556666"
          },
          "name": {
            "type": "string",
            "description": "Display name for the conversation profile",
            "example": "Main Line"
          },
          "number": {
            "type": "string",
            "nullable": true,
            "description": "Phone number associated with the profile (null if not applicable)",
            "example": "+14155551234"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address associated with the profile",
            "example": "support@acme.com"
          },
          "color": {
            "type": "string",
            "description": "Hex color code for UI display",
            "example": "#4A90D9"
          }
        },
        "required": ["conversation_profile_id", "name"]
      },
      "Contact": {
        "type": "object",
        "description": "Contact information object",
        "properties": {
          "contact_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the contact",
            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
          },
          "name": {
            "type": "string",
            "description": "Contact's full name",
            "example": "John Doe"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Contact's phone number",
            "example": "+14155551234"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Contact's email address",
            "example": "john.doe@example.com"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the contact was created",
            "example": "2024-01-15T10:30:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the contact was last updated",
            "example": "2024-02-20T14:45:00.000Z"
          },
          "tags": {
            "type": "array",
            "description": "List of tags associated with the contact",
            "items": {
              "type": "string"
            },
            "example": ["VIP", "New Lead", "Follow Up"]
          },
          "custom_fields": {
            "type": "array",
            "description": "List of custom fields for the contact",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          }
        },
        "required": ["contact_id", "name"]
      },
      "Conversation": {
        "type": "object",
        "description": "Conversation information object",
        "properties": {
          "contact_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the contact",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "contact_name": {
            "type": "string",
            "description": "Contact's full name",
            "example": "John Doe"
          },
          "contact_number": {
            "type": "string",
            "nullable": true,
            "description": "Contact's phone number",
            "example": "+1234567890"
          },
          "contact_email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Contact's email address",
            "example": "john.doe@example.com"
          },
          "conversation_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the conversation",
            "example": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
          },
          "conversation_profile_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the conversation profile",
            "example": "c3d4e5f6-a7b8-9012-cdef-123456789012"
          },
          "conversation_profile_number": {
            "type": "string",
            "nullable": true,
            "description": "Phone number of the conversation profile",
            "example": "+1987654321"
          },
          "conversation_profile_email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email address of the conversation profile",
            "example": "support@company.com"
          },
          "last_message": {
            "type": "string",
            "nullable": true,
            "description": "Content of the last message in the conversation",
            "example": "Hey, I need help with my order"
          },
          "assigned_to": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Account ID of the assigned agent (null if unassigned)",
            "example": "d4e5f6a7-b8c9-0123-def1-234567890123"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the conversation was last updated",
            "example": "2026-03-17T10:30:00.000Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the conversation was created",
            "example": "2026-03-15T08:00:00.000Z"
          },
          "seen_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Account ID of the last agent who viewed the conversation (null if unseen)",
            "example": "e5f6a7b8-c9d0-1234-ef12-345678901234"
          },
          "is_chat_opened": {
            "type": "boolean",
            "description": "Whether the chat is currently open",
            "example": true
          }
        },
        "required": ["contact_id", "contact_name", "conversation_id", "conversation_profile_id", "updated_at", "created_at", "is_chat_opened"]
      },
      "Message": {
        "type": "object",
        "description": "Message information object",
        "properties": {
          "conversation_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the conversation",
            "example": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
          },
          "message_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the message",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "contact_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the contact",
            "example": "f6a7b8c9-d0e1-2345-f123-456789012345"
          },
          "conversation_profile_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the conversation profile",
            "example": "c3d4e5f6-a7b8-9012-cdef-123456789012"
          },
          "conversation_profile_email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email address of the conversation profile",
            "example": "support@company.com"
          },
          "conversation_profile_number": {
            "type": "string",
            "nullable": true,
            "description": "Phone number of the conversation profile",
            "example": "+1987654321"
[...]
