{
  "openapi": "3.0.3",
  "info": {
    "title": "SalesCaptain API Documentation Service",
    "description": "API Documentation Service for SalesCaptain platform.\nThis service provides endpoints for managing and retrieving company information for API documentation purposes.\n",
    "version": "0.1.0",
    "contact": {
      "name": "SalesCaptain API Team",
      "email": "support@salescaptain.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://salescaptain.com/license"
    }
  },
  "servers": [
    {
      "url": "https://api.salescaptain.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1": {
      "get": {
        "summary": "Health check endpoint",
        "description": "Returns basic service information and health status",
        "operationId": "healthCheck",
        "tags": ["Health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is running successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "SalesCaptain API [Service version - 0.1]"
                    }
                  }
                },
                "example": {
                  "message": "SalesCaptain API [Service version - 0.1]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fetch-companies": {
      "get": {
        "summary": "Fetch companies for authenticated user",
        "description": "Retrieves a list of companies associated with the authenticated user's accounts.\nThis endpoint fetches company information from the main SalesCaptain API based on \nthe company IDs associated with the user's accounts.\n",
        "operationId": "fetchCompanies",
        "tags": ["Companies"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Companies fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Companies fetched successfully!"
                    },
                    "companies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Company"
                      }
                    }
                  }
                },
                "example": {
                  "message": "Companies fetched successfully!",
                  "companies": [
                    {
                      "company_id": "00000000-0000-0000-0000-000000000000",
                      "name": "salescaptain"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Authentication token required for accessing protected endpoints.\nThe token should be obtained from the main SalesCaptain authentication service.\n"
      }
    },
    "schemas": {
      "Company": {
        "type": "object",
        "description": "Company information object",
        "properties": {
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the company",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "name": {
            "type": "string",
            "description": "Company name",
            "example": "salescaptain"
          }
        },
        "required": ["company_id", "name"]
      },
      "Address": {
        "type": "object",
        "description": "Address information",
        "properties": {
          "street": {
            "type": "string",
            "description": "Street address",
            "example": "123 Main Street"
          },
          "city": {
            "type": "string",
            "description": "City name",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "State or province",
            "example": "NY"
          },
          "postal_code": {
            "type": "string",
            "description": "Postal or ZIP code",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Country name",
            "example": "United States"
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Error response object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid request parameters"
          },
          "code": {
            "type": "string",
            "description": "Error code for programmatic handling",
            "example": "INVALID_PARAMS"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the error occurred",
            "example": "2023-12-01T10:30:00Z"
          },
          "path": {
            "type": "string",
            "description": "API endpoint path where the error occurred",
            "example": "/v1/fetch-companies"
          }
        },
        "required": ["error"]
      },
      "User": {
        "type": "object",
        "description": "Authenticated user information",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique user identifier",
            "example": "987fcdeb-51a2-43d1-9f12-345678901234"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address",
            "example": "user@example.com"
          },
          "accounts": {
            "type": "array",
            "description": "List of accounts associated with the user",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          }
        },
        "required": ["id", "email", "accounts"]
      },
      "Account": {
        "type": "object",
        "description": "User account information",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique account identifier",
            "example": "456e7890-f12b-34c5-d678-901234567890"
          },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Associated company identifier",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "role": {
            "type": "string",
            "description": "User role within the account",
            "example": "admin"
          },
          "permissions": {
            "type": "array",
            "description": "List of permissions for this account",
            "items": {
              "type": "string"
            },
            "example": ["read", "write", "admin"]
          }
        },
        "required": ["id", "company_id"]
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication token is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Unauthorized access",
              "code": "UNAUTHORIZED",
              "timestamp": "2023-12-01T10:30:00Z",
              "path": "/v1/fetch-companies"
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "Access forbidden - valid token but insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Forbidden access",
              "code": "FORBIDDEN",
              "timestamp": "2023-12-01T10:30:00Z",
              "path": "/v1/fetch-companies"
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Too many requests, please try again later",
              "code": "RATE_LIMIT_EXCEEDED",
              "timestamp": "2023-12-01T10:30:00Z",
              "path": "/v1/fetch-companies"
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Request limit per time window",
            "schema": {
              "type": "integer",
              "example": 30
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Remaining requests in current window",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          "X-RateLimit-Reset": {
            "description": "Time when the rate limit resets",
            "schema": {
              "type": "integer",
              "example": 1701425400
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Problem encountered while fetching companies!",
              "code": "INTERNAL_ERROR",
              "timestamp": "2023-12-01T10:30:00Z",
              "path": "/v1/fetch-companies"
            }
          }
        }
      }
    },
    "examples": {
      "SuccessfulCompanyFetch": {
        "summary": "Successful company fetch response",
        "value": {
          "message": "Companies fetched successfully!",
          "companies": [
            {
              "company_id": "00000000-0000-0000-0000-000000000000",
              "name": "salescaptain"
            }
          ]
        }
      }
    }
  },
  "tags": [
    {
      "name": "Health",
      "description": "Service health and status endpoints"
    },
    {
      "name": "Companies",
      "description": "Company management and retrieval operations"
    }
  ],
  "externalDocs": {
    "description": "SalesCaptain API Documentation",
    "url": "https://docs.salescaptain.com"
  }
}